<div class="row-flex row-flex-wrap">
<% @messages.each do |m| %>

    <div class="col-md-4" style="background: gainsboro;border:3px solid white">
<div class="col-sm-12" style="word-wrap: break-word; ">
<div class="col-sm-12">
    <h2><%= m.title %></h2>
</div>
    <%= link_to "View Message", message_path(m), class: "btn btn-default btn-sm pull-right bottomright", style: "margin-bottom:5px;"%>
  <div class="clearfix"></div>
</div>
    </div>
<% end %>
</div>
<div class="row">
<%= will_paginate @messages %>
</div>
