<div class="row row-eq-height">
<% @messages.each do |m| %>

    <div class="col-xs-12 col-md-4" style="background: gainsboro;">
<div class="col-sm-12" style="word-wrap: break-word; ">

    <h2><%= m.title %></h2>
    <%= link_to "View Message", message_path(m), class: "btn btn-default btn-sm pull-right", style: "margin-bottom:5px;"%>
  <div class="clearfix"></div>
</div>
    </div>
<% end %>
</div>
<div class="row">
<%= will_paginate @messages %>
</div>
