<% @messages.each do |m| %>

    <div class="col-md-4 col-md-offset-1 rounded" style="background: gainsboro;">
    <h2><%= m.title %></h2>
    <%= link_to "View Message", message_path(m), class: "btn btn default" %>
    </div>
<% end %>

